html {
	font-family: Optima, serif;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;

	font-style: italic;
}

h4 {
	padding-top: 1em;
	text-align: left;
	font-style: italic;
	margin-left: 5%;
}

#article {
	background: white;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	border:1px solid black;
}

#bg {
	background: #e6e6e6;
}

p {
	padding: .5em;
}
