html {
  height:100%;
}
body {
  min-height:100%;
  color:#fffedb;
  font-family:'Droid Serif', serif;
  /*
  background-color:#1e304a;
*/
}

h1, h2, h3, h4, h5, h6{
  line-height: 1em;
  margin-top:0;
  margin-bottom:0;
}

a {
  color: #fffedb;
}

div#header {
  background: #225770;
  height: 124px;
  color:#fffedb;
  font-family:'Droid Serif', serif;
  width:auto;
}

 /*Doesn't seem to be necessary w my floats?*/
div#title, div#mepic div#header{
  display:inline-block;
}

div#title {
  float:left;
  width:400px;
  height:124px;
}

          #title h1{
            text-align:left;
            margin-left:5%;
            margin-top:44px;
            font-size:26pt;
            display:block;
            width:80%;

          }

div#mepic {
  position:absolute;
  width:150px;
  height:150px;
  top:10px;
  right:10px;
  /*float:right;
  From before i made this absolute.*/

}

  #mepic img {
    height: 135px;
    width:135px;
    border:2px dashed #fffedb;
    border-radius: 68px;
    margin-top:10px;
    margin-right:10px;
    z-index: 5;
  }


#nav {
  background:#3d3418;
  color:#fffdcc;
  font-family:'Droid Serif', serif;
  height:36px;
  border-top: 2px solid #fffdcc;
  border-bottom: 2px solid #fffdcc;
}



    #nav a {
      display:inline-block;
      text-decoration: none;
      color: #fffedb;
      margin-top:6px;
      padding-left:10%;
      font-size:20px;
      line-height: 0;
    }

    #about {
      float:right;
      padding-right:40px;
    }
/* Trying to make some social buttons.

div#social {
  position:relative;
  top:174px;
  right:102px;
  width:40px;
  height:160px;
}

  div#social .soc-but {
    position:absolute;
    height:30px;
    width:30px;
    border-radius: 15px
  }

*/

#welcome {
  background-color:#1e304a;
  clear:both;
  /*top:164px;
  bottom:26px;*/
  width:auto;
  height:600px;
}

div#welcome > div {
  width:80%;
  margin-left:5%;
  padding-top:2em; /*not margin? Why? margin pulls welcome div down too*/
}

div#footer {
  position:fixed;
  bottom:0;
  height:25px;
  width:100%;
  background-color: #3d3418;
  border-top:2px #fffedb solid;
  clear:both;
  font-size:10pt;
  font-family: Courier;
  text-align: left;
}

div#footer p {
  font-family:Courier;
  font-size:9pt;
  margin:0 0 0 4%;
  display:inline-block;
}

div#footer span {
  font-size: 1.2em
}