html {
  height:100%;
}
body {
  min-height:100%;
  color:#fffedb;
  font-family:'Droid Serif', serif;
  background-color:#1e304a;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1em;
  margin-top:0;
  margin-bottom:0;
}


div#header {
  background: #225770;
  height: 124px;
  color:#fffedb;
  font-family:'Droid Serif', serif;
  width:auto;
  position:relative; /*adding this to hopefully fix header spacing*/
}

 /*Doesn't seem to be necessary w my floats? i don't know any more...*/
div#title, div#mepic div#header{
  display:inline-block;
}

div#title {
  float:left;/*?*/
  width:70%; /*pretty much the min possible width, but text don't wrap nice :| */
  min-height:124px;
  height:auto;
}
    /*#title span {*/
      font-size: 1.1em;
      font-weight:100;

    }
    #title h1 a {
      text-decoration: none
    }

    #title h1 a:visited {
      text-decoration: none;
    }


    #title h1{
      text-align:left;
      margin-left:5%;
      margin-top:44px;
      font-size:26pt;
      display:block;
      width:80%;
      color: #fffedb;
    }


div#mepic {
  position:absolute;
  /*position:relative;*/
  width:150px;
  height:400px;
  top:0px;
  right:0px;
  /*float:right;*/
  /*From before i made this absolute.*/

}

  #mepic img {
    height: 135px;
    width:135px;
    border:2px dashed #fffedb;
    border-radius: 68px;
    margin-top:10px;
    margin-right:10px;
    z-index: 5;
  }

div.clear {
  clear:both;
  /*was told to do this to help picture not go down, unsure why, didn't work*/
}

#nav {
  background:#3d3418;
  color:#fffdcc;
  font-family:'Droid Serif', serif;
  border-top: 2px solid #fffdcc;
  border-bottom: 2px solid #fffdcc;
  display:inline-block;
  width:100%;
  height:auto;
}

/*might need a list holder div with float left/relative position*/

    #nav ul {
      list-style: none;
      padding:0;
      margin: 0;
      height:auto;
      width:auto;
      overflow:auto;
    }

      #nav ul li {
        display:inline-block;
        padding-left: 9%;
        height:auto;
        width:auto;
        float:left;
      }

        #nav ul li a {
          display:inline-block;
          text-decoration: none;
          color: #fffedb;
          font-size:22px;
          line-height: 1.5em;
          /*float:left;*/
        }

    #about {
      float:right;
      padding-right:40px;
    }
/* Trying to make some social buttons.

div#social {
  position:relative;
  top:174px;
  right:102px;
  width:40px;
  height:160px;
}

  div#social .soc-but {
    position:absolute;
    height:30px;
    width:30px;
    border-radius: 15px
  }

*/

#content {
  background-color:#1e304a;
  clear:both;
  /*top:164px;
  bottom:26px;*/
  width:auto;
  height:600px;
}

div#content > div {
  width:80%;
  margin-left:5%;
  padding-top:2em; /*not margin? Why? margin pulls content div down too*/
}

div#footer {
  position:fixed;
  /*undo fixed position and just clear:both?*/
  bottom:0;
  height:25px;
  width:100%;
  background-color: #3d3418;
  border-top:2px #fffedb solid;
  clear:both;
  font-size:10pt;
  font-family: Courier;
  text-align: left;
}

div#footer p {
  font-family:Courier;
  font-size:9pt;
  margin:0 0 0 4%;
  display:inline-block;
}

div#footer span {
  font-size: 1.2em
}